@import "./../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

// ************* Welcome Banner **************** //
.container{
  position: relative;
  overflow: scroll;
  height: 100%;
}


.welcome-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: $banner-green;
  align-items: center;
  margin: auto;
  vertical-align: middle;
}

.welcome-content {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
}

.title {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $text-white;
  font-size: 56px;
  line-height: 80px;
  font-family: $font-family;
}

.text-1 {
  color: white;
  line-height: 25px;
  font-size: 16px;
  font-family: $font-family;
  color: $text-white;
}

hr {
  width: 60px;
  display: inline-block;
  margin-top: 30px;
}

a {
  display: inline-block;
  background-color: $banner-green;
  color: $text-white;
  padding-bottom: 10px;
}
a:link {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid white;
}

// ************* White Space **************** //
.space {
  height: 100px;
}

// ************* Slide Show **************** //
.slides-container {
  width: 100%;
  height: 1000px;
}

// ************* Paragraph Part **************** //
.under-slides-h1 {
  color: $text-color;
  line-height: 72px;
  text-align: center;
  font-size: 72px;
  font-family: $font-family;
}

.part-2 {
  margin-top: 40px;
}
p {
  color: $text-color;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  font-family: $font-family;
}

// ************* Know Us **************** //

.know-us {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  .holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
  }
}

.right {
  flex-basis: 50%;
}

.know-head {
  color: $text-color;
  font-size: 40px;
  font-family: $font-family;
  margin-bottom: 30px;
}

.know-title {
  text-align: left;
  line-height: 1.875em;
  font-size: 15px;
}

.mat-stroked-button {
  color: $text-color;
  font-family: $font-family;
  border: 1px $text-color solid;
  border-radius: 360px;
  align-self: flex-start;
  margin-top: 30px;
}

.mat-stroked-button:hover {
  background-color: $text-color;
  color: #fffcf7;
}

.know-img {
  width: 100%;
}
// ************* Subscribe Form **************** //

.sub-main {
  display: flex;
  justify-content: center;
  height: 300px;
}

.sub-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-head {
  font-size: 30px;
  color: $text-color;
  font-family: $font-family;
  margin: 10px;
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.mat-form-field.sub-field .mat-form-field-wrapper {
  /* Label Styling */
  .mat-form-field-label {
    color: $text-color;
    font-family: $font-family;
  }

  /* Field Styling */
  .mat-form-field-flex {
    border: 2px solid grey;
    background-color: rgba(0, 0, 0, 0);
  }

  /* Underline & Ripple Styling */
  .mat-form-field-ripple {
    background-color: grey;
  }
}

/* Button Styling */
.mat-raised-button.sub-btn .mat-button-wrapper {
  font-family: $font-family;
}

.mat-raised-button.sub-btn.mat-primary {
  background-color: $text-color;
}

.mat-raised-button.sub-btn{
  height: 75%;
}