@import "./../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

// ************* Welcome Banner **************** //
.container {
  position: relative;
  overflow: scroll;
  height: 100%;
}

.welcome-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: $banner-green;
  align-items: center;
  margin: auto;
  vertical-align: middle;
}

.welcome-content {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
}

.title {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $text-white;
  font-size: 56px;
  line-height: 80px;
  font-family: $font-family;
}

.text-1 {
  color: white;
  line-height: 25px;
  font-size: 16px;
  font-family: $font-family;
  color: $text-white;
}

hr {
  width: 60px;
  display: inline-block;
  margin-top: 30px;
}

.button-link {
  display: inline-block;
  background-color: $banner-green;
  color: $text-white;
  padding-bottom: 10px;
}
.button-link:link {
  text-decoration: none;
}

.button-link:hover {
  border-bottom: 2px solid white;
}

// ************* White Space **************** //
.space {
  height: 100px;
}

// ************* Slide Show **************** //
.slides-container {
  width: 100%;
  height: 1000px;
}

// ************* Paragraph Part **************** //
.paragraph-part {
  margin-top: -60px;
}
.paragraph-title {
  color: $text-color;
  line-height: 72px;
  text-align: center;
  font-size: 72px;
  font-family: $font-family;
}

.description {
  color: $text-color;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  font-family: $font-family;
}

// ************* Know Us **************** //

.know-us {
  display: flex;
  justify-content: center;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  .left-side-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
  }
}

.know-us-head {
  color: $text-color;
  font-size: 40px;
  font-family: $font-family;
  margin-bottom: 30px;
}

.know-us-description {
  text-align: left;
  line-height: 1.875em;
  font-size: 15px;
  color: $text-color;
  font-family: $font-family;
  margin-bottom: 20px;
}

.mat-stroked-button {
  align-self: flex-start;
  margin-top: 30px;
}

.mat-stroked-button:hover {
  background-color: $text-color;
  .mat-button-wrapper {
    color: white;
  }
}

.mat-stroked-button .mat-button-wrapper {
  color: $text-color;
  font-family: $font-family;
}

.mat-stroked-button.stroked-btn {
  border: 1px $text-color solid;
  border-radius: 360px;
}

.right-side {
  flex-basis: 50%;
}

.know-us-img {
  width: 100%;
}
// ************* Subscribe Form **************** //

.sub-main {
  display: flex;
  justify-content: center;
  height: 300px;
}

.sub-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sub-head {
  font-size: 30px;
  color: $text-color;
  font-family: $font-family;
  margin: 10px;
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.mat-form-field.sub-field .mat-form-field-wrapper {
  width: 450px;
  /* Field Styling */
  .mat-form-field-flex {
    border: 2px solid black;
    background-color: white;
    border-radius: 0%;
  }

  /* Underline & Ripple Styling */
  .mat-form-field-ripple {
    background-color: black;
  }

  &:focus-within {
    .mat-form-field-flex {
      border: 2px solid $text-color;
      background-color: white;
      border-radius: 0%;
    }

    .mat-form-field-ripple {
      background-color: $text-color;
    }
  }
}

/* Button Styling */
.mat-raised-button.sub-btn .mat-button-wrapper {
  font-family: $font-family;
}

.mat-raised-button.sub-btn.mat-primary {
  background-color: $text-color;
  border-radius: 0;
}

.mat-raised-button.sub-btn {
  height: 50px;
}

.mat-form-field.sub-field .mat-form-field-infix {
  border-top: 0;
}

.mat-form-field.sub-field .mat-form-field-wrapper {
  .mat-form-field-flex {
    height: 50px;
  }
}

.mat-form-field.sub-field .mat-form-field-infix ::placeholder {
  color: black;
  font-style: italic;
}
