<div class="container">
  <!------------------------------- Welcome Banner ------------------------->
  <div class="welcome-banner">
    <div class="welcome-content">
      <div class="title">
        Welcome <br />
        to Our Site
      </div>
      <div class="right-side">
        <div class="text-1">
          Welcome to Handisly Taxi. We provide a wide selection of <br />
          services
        </div>
        <hr />
        <div class="button">
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------- White Space ------------------------->
  <div class="space"></div>
  <!------------------------------- SlideShow ------------------------->
  <div class="slide-show">
    <h1>Angular 10 Material Carousel Slider</h1>

    <mat-carousel
      timings="200ms ease-in"
      [autoplay]="true"
      interval="6000"
      color="white"
    >
      <mat-carousel-slide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#ffffff"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Paragraph Part ------------------------->
  <div class="under-slides">
    <h1>
      TAXI PROFESSIONAL TRANSPORTATION <br />
      SERVICES
    </h1>
    <p>
      At Handisly Taxi, we offer quality corporate and private transportation
      services across the entire San Francisco area at <br />
      reasonable prices. We know that in today’s world, time is money. That’s
      why we promise to get you wherever you’re <br />
      going on time, every time. Ta has been providing top notch transportation
      services to the local area since 2000.
    </p>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Get To Know Us ------------------------->
  <div class="know-us">
    <div class="left">
      <h2>GET TO KNOW US</h2>
      <p id="title-know">
        Looking for a top-notch Car Service ? Allow us to introduce ourselves.
        We're Ta and our team of pros are available whenever you need us. We
        don't just meet your expectations, we surpass them. Ta serves the needs
        of residents in San Francisco and the surrounding area. Since 2000, our
        company has been committed to being the best at what we do. See a full
        list of our services below.
      </p>
    </div>
    <div class="right">
      <img src="../../assets/download.jpeg" alt="Not Found">
    </div>
  </div>
</div>
