@import './../../assets/variables.scss';

.welcome-banner {
    height: 300px;
    display: flex;
    align-items: center;
    background-color: $banner-green;
    margin: auto;
    .title {
        min-width: 50%; 
        color: $text-white;
        justify-content: center;
    }
}
