<div class="container">
  <!------------------------------- Welcome Banner ------------------------->
  <div class="welcome-banner">
    <div class="welcome-content">
      <div class="title">
        Welcome <br />
        to Our Site
      </div>
      <div class="right-side">
        <div class="text-1">
          Welcome to Handisly Taxi. We provide a wide selection of <br />
          services
        </div>
        <hr />
        <div class="button">
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------- White Space ------------------------->
  <div class="space"></div>
  <!------------------------------- SlideShow ------------------------->
  <div class="slides-container">
    <!-- <div class="mySlides fade">
      <img
        src="https://images.unsplash.com/photo-1518640027989-a30d5d7e498e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=f9575732a498c98486879d7000ab1d47"
        style="width: 100%"
      />
    </div>

    <div class="mySlides fade">
      <img
        src="https://images.unsplash.com/photo-1505843378597-b96befae716e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9e69634f39ec7c08514fef902cfc85ac"
        style="width: 100%"
      />
    </div>

    <div class="mySlides fade">
      <img
        src="https://images.unsplash.com/photo-1471138406156-7a89e687a062?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7820fc816715b37942a793360b785c60"
        style="width: 100%"
      />
    </div>

    <br />

    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div> -->
  </div>
  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Paragraph Part ------------------------->
  <div class="under-slides">
    <h1>
      TAXI PROFESSIONAL TRANSPORTATION <br />
      SERVICES
    </h1>
    <p>
      At Handisly Taxi, we offer quality corporate and private transportation
      services across the entire San Francisco area at <br />
      reasonable prices. We know that in today’s world, time is money. That’s
      why we promise to get you wherever you’re <br />
      going on time, every time. Ta has been providing top notch transportation
      services to the local area since 2000.
    </p>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Know Us ------------------------->
  <div class="know-us">
    <div class="left">
      <div class="holder">
        <h2 class="know-head">GET TO KNOW US</h2>
        <p class="know-title">
          Looking for a top-notch Car Service ? Allow us to introduce ourselves.
          We're Ta and our team of pros are available whenever you need us. We
          don't just meet your expectations, we surpass them. Ta serves the
          needs of residents in San Francisco and the surrounding area. Since
          2000, our company has been committed to being the best at what we do.
          See a full list of our services below.
        </p>
        <button mat-stroked-button>Learn More</button>
      </div>
    </div>
    <div class="right">
      <img class="know-img" src="../../assets/download.jpeg" alt="Not Found" />
    </div>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Document End ------------------------->
</div>
