<div class="signup-page-container">
  <div class="signup-form">
    <div class="signup-text">Sign Up</div>
    <div class="member-question-container">
      <div class="member-question">Already a member?</div>
      <div class="member-question-button">
        <a class="member-question-link">Log In</a>
      </div>
    </div>
    <div class="signup-all-buttons">
      <button
        mat-raised-button
        class="fb-btn"
        href="facebook.cm"
        color="primary"
      >
        <img class="fb-logo" src="../../assets/fb.svg" alt="" />
        Sign Up with Facebook
      </button>

      <button mat-raised-button class="google-btn" color="primary">
        <img class="google-logo" src="../../assets/google.svg" alt="" />
        Sign Up with Google
      </button>

      <div class="or-divider">
        <mat-divider class="lime-divider"></mat-divider>
        <div class="or-text">or</div>
        <mat-divider class="lime-divider"></mat-divider>
      </div>

      <button mat-raised-button class="email-btn" color="primary">
        Sign Up with Email
      </button>

    </div>
  </div>
</div>
