<mat-dialog-content class="signup-dialog-content">
  <div class="signup-close-icon">
    <a class="signup-x-icon" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </a>
  </div>

  <div class="signup-page-container">
    <div class="signup-form">
      <div class="signup-text">Sign Up</div>
      <div class="signup-question-container">
        <div class="signup-question">Already a member?</div>
        <div class="signup-question-button">
          <a
            class="signup-question-link"
            (click)="openDialog()"
            [mat-dialog-close]="true"
            >Log In</a
          >
        </div>
      </div>
      <div class="signup-all-buttons">
        <button
          mat-raised-button
          class="signup-fb-btn"
          href="facebook.com"
          color="primary"
        >
          <img class="signup-fb-logo" src="../../assets/fb.svg" alt="" />
          Sign Up with Facebook
        </button>

        <button mat-raised-button class="signup-google-btn" color="primary">
          <img
            class="signup-google-logo"
            src="../../assets/google.svg"
            alt=""
          />
          Sign Up with Google
        </button>

        <div class="signup-or-divider">
          <mat-divider class="signup-lime-divider"></mat-divider>
          <div class="signup-or-text">or</div>
          <mat-divider class="signup-lime-divider"></mat-divider>
        </div>

        <button
          mat-raised-button
          class="signup-email-btn"
          color="primary"
          (click)="openEmailDialog()"
          [mat-dialog-close]="true"
        >
          Sign Up with Email
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
