<div class="container">
  <div class="greetings">
    <div class="welcome-message">
      WE WANT TO HEAR <br />
      FROM YOU!
    </div>
    <div class="info-container">
      <div>
        <p>500 Terry Francois Street, 6th Floor. San Francisco, CA 94158</p>
      </div>
      <div><p>info@mysite.com</p></div>
      <div><p>123-456-789</p></div>
    </div>
  </div>

  <div class="form">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <div class="input-box">
          <input
            type="text"
            placeholder="Name"
            class="form-control"
            formControlName="name"
          />
          <span
            class="text-danger"
            *ngIf="
              (Form.name.touched || submitted) && Form.name.errors?.required
            "
          >
            Name is required
          </span>
        </div>

        <div class="input-box">
          <input
            type="email"
            placeholder="Email"
            class="form-control"
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="
              (Form.email.touched || submitted) && Form.email.errors?.required
            "
          >
            Email is required
          </span>
          <span
            class="text-danger"
            *ngIf="Form.email.touched && Form.email.errors?.email"
          >
            Enter a valid email address
          </span>
        </div>

        <div class="input-box">
          <input type="text" placeholder="Phone" formControlName="phone" />
        </div>

        <div class="input-box">
          <input type="text" placeholder="Address" formControlName="address" />
        </div>
      </div>

      <div class="special-css">
        <input type="text" placeholder="Subject" formControlName="subject" />
      </div>

      <div class="text-message">
        <textarea
          placeholder="Type your message here.."
          formControlName="message"
        ></textarea>
      </div>

      <div class="button">
        <button>Submit</button>
      </div>
    </form>
  </div>
</div>
