@import "./../../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  width: 1265px;
  height: 921.695px;
}

/*<----------------- Left Part Styling ---------------->*/

.welcome-message {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  color: $text-color;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 30px;
}

.info-container {
  color: #1c5f4e;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  div {
    width: 460px;
    height: 28.13px;
    margin-bottom: 20px;
  }
}

.greetings,
.form {
  height: 411.5px;
  width: 460px;
}

/*<-------------   Form Styling  ------------------->*/
.form {
}
.inputs {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.input-box {
  height: 42px;
  width: 225px;
  margin-bottom: 10px;
}

.inputs .input-box input {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid $text-color;
  padding: 3px 3px 3px 12px;
  height: 34px;
  width: 208px;
  outline: none;
  font-size: 16px;
}

.special-css {
  width: 460px;
  height: 42px;
  margin-bottom: 10px;
}

.special-css input {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid $text-color;
  padding: 3px 3px 3px 12px;
  height: 35px;
  width: 445px;
  outline: none;
  font-size: 16px;
}

.text-message {
  width: 460px;
  height: 127px;
  margin-bottom: 37px;
}
textarea {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid $text-color;
  height: 110.75px;
  width: 434px;
  outline: none;
  padding: 11.25px 10px 3px 16px;
  font-size: 16px;
  resize: none;
}

.button {
  width: 460px;
  height: 50px;
  margin-bottom: 11px;
}

.button button {
  width: 460px;
  height: 50px;
  border: 0;
  color: white;
  background-color: $text-color;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

::placeholder {
  color: $text-color;
  font-family: "Lato", sans-serif;
}

.inputs .input-box input:hover {
  border: 1px solid $text-color;
}

.special-css input:hover {
  border: 1px solid $text-color;
}

textarea:hover {
  border: 1px solid $text-color;
}

.button button:hover {
  background: linear-gradient(to right, #b6c4b7, #b6c4b7);
}

