@import "./../../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

/*<----------------- Left Part Styling ---------------->*/
.greetings {
  display: inline-block;
  margin: 25px;
}

.welcome-message {
  font-size: 40px;
  width: 0;
  min-width: 100%;
  margin: 35px;
  font-family: "Lato", sans-serif;
  color: #2a7c6f;
}

.info {
  margin: 35px;
  color: #1c5f4e;
  font-family: "Lato", sans-serif;
}

/*<-------------   Form Styling  ------------------->*/

.form {
  width: calc(100% / 3);
}
.inputs {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  row-gap: 10px;
  margin-bottom: 10px;
}

.inputs .input-box input {
  border: 0;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #2a7c6f;
}

.special-css input {
  border: 0;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2a7c6f;
}

textarea {
  border: 0;
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #2a7c6f;
  resize: none;
}

.button input {
  width: 100%;
  height: 45px;
  border: 0;
  color: white;
  background-color: #2a7c6f;
  font-size: 16px;
  margin-top: 40px;
  font-family: "Lato", sans-serif;
}

::placeholder {
  color: #2a7c6f;
  font-family: "Lato", sans-serif;
}

.form .input-box input:hover {
  border: 1px solid #2a7c6f;
}

.form .special-css input:hover {
  border: 1px solid #2a7c6f;
}

textarea:hover {
  border: 1px solid #2a7c6f;
}

.button input:hover {
  background: linear-gradient(to right, #b6c4b7, #b6c4b7);
}
