<div class="container">
  <div class="greetings">
    <div class="welcome-message">
      WE WANT TO HEAR <br />
      FROM YOU!
    </div>
    <div class="info-container">
      <div>500 Terry Francois Street, 6th Floor. San Francisco, CA 94158</div>
      <div>info@mysite.com</div>
      <div>123-456-7890</div>
    </div>
  </div>

  <div class="form">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <div class="input-box">
          <input
            type="text"
            placeholder="Name"
            formControlName="name"
            required
          />
        </div>

        <div class="input-box">
          <input 
            type="email"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>

        <div class="input-box">
          <input 
            type="text"
            placeholder="Phone"
            formControlName="phone"
            required
          />
        </div>

        <div class="input-box">
          <input type="text" placeholder="Address" formControlName="address" />
        </div>
      </div>

      <div class="special-css">
        <input type="text" placeholder="Subject" formControlName="subject" />
      </div>

      <div class="text-message"><textarea
        placeholder="Type your message here.."
        formControlName="message"
      ></textarea></div>
      

      <div class="button">
    <button>Submit</button>
      </div>
    </form>
  </div>
</div>