<div class="services-main">
  <!------------------------------- Banner 1 ------------------------->
  <div class="banner-container">
    <div class="banner-holder" *ngFor="let banner of banners">
      <img class="banner-img" src="{{ banner['img'] }}" alt="Not Available" />
      <div [class]="'quotes-' + this.banner['position']" class="quotes">
        <div [class]="'color-' + this.banner['color-head']" class="top-quote">
          {{ banner["head"]['S'] }}
        </div>
        <div [class]="'color-' + this.banner['color-end']" class="bottom-quote">
          {{ banner["end"] }}
        </div>
      </div>
    </div>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>
  <div class="space"></div>

  <!------------------------------- Services Table ------------------------->
  <div class="table-container">
    <div class="table-title">Book a Service</div>
    <div class="services-container" *ngFor="let service of services">
      <mat-divider></mat-divider>
      <div class="service-object">
        <div class="service-object-left">
          <div>
            <a href="#" class="link-handler">
              <img
                class="service-img"
                src="{{ service['img']['S'] }}"
                alt="Not Found"
              />
            </a>
          </div>
          <div class="service-name">
            <a
              (click)="
                update(
                  service['img']['S'],
                  service['name']['S'],
                  service['duration']['S'],
                  service['price']['S'],
                  service['description']['S'],
                  service['pick-up']['S']
                )
              "
              class="link-handler"
              [routerLink]="'/details'"
              >{{ service["name"]["S"] }}</a
            >
          </div>
        </div>

        <div class="service-object-right">
          <div class="info-box">
            <div class="service-duration">{{ service["duration"]["S"] }}</div>
            <div class="service-price">{{ service["price"]["S"] }}</div>
          </div>
          <div class="service-btn">
            <button
              mat-raised-button
              class="book-btn"
              color="primary"
              type="submit"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
