@import "./../../assets/variables.scss";

.services-main {
  display: flex;
  flex-direction: column;
}

// ************* banner 1 **************** //

.banner-container {
  display: flex;
  flex-wrap: wrap;
}
.banner-holder {
  flex-basis: 50%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 20px;
  z-index: 5;
}

.top-quote {
  color: $text-color;
  font-family: $font-family;
  font-size: 24px;
  margin-bottom: 20px;
}

.bottom-quote {
  color: $text-white;
  font-family: $font-family;
  font-size: 20px;
}

.top-quote-2 {
  color: $text-white;
  font-family: $font-family;
  font-size: 24px;
  margin-bottom: 20px;
}

.bottom-quote-2 {
  color: #ffd97a;
  font-family: $font-family;
  font-size: 20px;
}

// ************* White Space **************** //
.space {
  height: 100px;
}

// ************* Services Table **************** //

/*Global Styling*/
a {
  text-decoration: none;
}

a:visited {
  font-size: 16px;
  color: $text-color;
  font-family: $font-family;
}

/**********************************/
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table-title {
  font-size: 56px;
  color: $text-color;
  font-family: $font-family;
  margin-top: 40px;
  margin-bottom: 100px;
}

.mat-divider {
  background-color: #18181833;
  width: 1000px;
}

.service-object {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.left-part {
  display: flex;
  align-items: center;
  width: 50%;
}

.right-part {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.service-name {
  font-size: 24px;
  color: $text-color;
  font-family: $font-family;
}

.service-name:hover {
  opacity: 0.5;
}

.service-img:hover {
  opacity: 0.5;
}

.service-price {
  font-size: 16px;
  color: $text-color;
  font-family: $font-family;
}

.service-img {
  margin-right: 60px;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.info-box > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Button Styling */
.mat-raised-button.book-btn.mat-primary {
  background-color: $text-color;
  border-radius: 0%;
  width: 150px;
  height: 40px;
  font-family: $font-family;
  font-size: 16px;
}

.service-btn {
  margin-left: 120px;
}
