<div class="services-main">
  <!------------------------------- Banner 1 ------------------------->
  <div class="banner-container">
    <div class="banner-holder" *ngFor="let banner of banner1 | async">
      <img class="banner-img" src="{{ banner.img }}" alt="Not Available" />
      <div class="quotes">
        <div class="top-quote">{{ banner.head }}</div>
        <div class="bottom-quote">{{ banner.end }}</div>
      </div>
    </div>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>

  <!------------------------------- Banner 2 ------------------------->
  <div class="banner-container">
    <div class="banner-holder" *ngFor="let banner of banner2 | async">
      <img class="banner-img" src="{{ banner.img }}" alt="Not Available" />
      <div class="quotes">
        <div class="top-quote-2">{{banner.head}}</div>
        <div class="bottom-quote-2">{{ banner.end }}</div>
      </div>
    </div>
  </div>

  <!------------------------------- White Space ------------------------->
  <div class="space"></div>
  <div class="space"></div>

  <!------------------------------- Services Table ------------------------->
  <div class="table-container">
    <div class="table-title">Book a Service</div>
    <div class="services-container" *ngFor="let service of services | async">
      <mat-divider></mat-divider>

      <div class="service-object">
        <div class="left-part">
          <div class="service-img">
            <a href=""> <img src="{{ service.img }}" alt="Not Found" /> </a>
          </div>
          <div class="service-name">
            <a href="">{{ service.name }}</a>
          </div>
        </div>

        <div class="right-part">
          <div class="info-box">
            <div class="service-price">Starting at {{ service.price }}$</div>
            <div class="service-info-link"><a href="">View More Info</a></div>
          </div>
          <div class="service-btn">
            <button
              mat-raised-button
              class="book-btn"
              color="primary"
              type="submit"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
