@import "./../../../assets/variables.scss";

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  color: $header-menu-color;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $white;
}

.header-menu {
  background-color: $header-menu-color;
  align-items: center;
  display: flex;
  color: $text-white;
  height: $header-menu-height;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  div {
    padding-right: 30px;
  }

  .header-option {
    cursor: pointer;
    font-size: 14px;
    font-family: $font-family;

    &:hover {
      opacity: 0.5;
    }
  }
}
