<div class="header-title">Handisly Taxi</div>
<div class="header-login">
  <div class="login-icon-container">
    <a (click)="openDialog()"
      ><img class="login-icon" src="../../../assets/login.svg" alt=""
    /></a>
  </div>
  <div><a class="login-text" (click)="openDialog()">Log In</a></div>
</div>
<div class="header-menu">
  <div
    class="nav"
    *ngFor="let item of menuItems; let i = index"
    [ngClass]="{ currentPage: item === currentSelection }"
    class="header-option"
    (click)="navigateTo(i)"
  >
    {{ item }}
  </div>
</div>
