<div class="details-page-container">
  <div class="details-container">
    <div class="details-head">{{ item[1] }}</div>
    <div class="info-holder">
      <div class="details-time">{{ item[2] }}</div>
      <div class="details-price">{{ item[3] }}</div>
      <div class="details-location">{{ item[5] }}</div>
    </div>
    <div class="booking-button">
      <button mat-raised-button class="details-book-btn" color="primary" type="submit">
        Book Now
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="text-title">Service Decription</div>
    <div class="details-description">{{ item[4] }}</div>
  </div>
</div>
