@import "./../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

/*<----------------- Left Part Styling ---------------->*/

.greetings {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.greetings-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  div {
    margin-bottom: 10px;
  }
}

.welcome-message {
  font-size: 40px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  color: $text-color;
}

.info-container {
  display: flex;
  flex-direction: column;
  color: #1c5f4e;
  font-family: "Lato", sans-serif;
  div {
    margin-bottom: 20px;
  }
}

/*<-------------   Form Styling  ------------------->*/

.form {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-raised-button {
  background-color: #1c5f4e;
}

.upper {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.upper > div {
  display: flex;
  flex-basis: calc(40% - 40px);
  justify-content: center;
  flex-direction: column;
}

.field-upper {
  margin-right: 10px;
}

.lower {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.lower > div {
  display: flex;
  width: 100%;
  flex-direction: column;
}

::ng-deep .mat-form-field-flex {
  .mat-form-field-label {
    color: #2a7c6f;
  }
  .mat-form-field-required-marker {
    color: white;
  }
}

.mat-raised-button {
  background-color: #1c5f4e;
  width: 100%;
}
