@import "./../../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100%;
}

/*<----------------- Left Part Styling ---------------->*/

.greetings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.welcome-message {
  font-size: 40px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  color: $text-color;
  margin-bottom: 30px;
}

.info-container {
  color: $banner-green;
  font-family: "Lato", sans-serif;
  div {
    margin-bottom: 30px;
  }
}

/*<-------------   Form Styling  ------------------->*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.upper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.upper > div {
  display: flex;
  flex-basis: calc(50% - 95px);
  justify-content: center;
  flex-direction: column;
}
.field-upper {
  margin-right: 10px;
}

.lower {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.lower > div {
  display: flex;
  width: calc(100% - 180px);
  justify-content: center;
  flex-direction: column;
}

/* Phone related Styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*<-------------   Form Fields Styling  ------------------->*/

.mat-form-field.form-field .mat-form-field-wrapper {
  /* Label Styling */
  .mat-form-field-label {
    color: $text-color;
    font-family: $font-family;
  }

  /* Underline & Ripple Styling */
  .mat-form-field-underline::before {
    background-color: $text-color;
  }

  .mat-form-field-ripple {
    background-color: $text-color;
  }

  /* Asterisk Styling */
  .mat-form-field-required-marker {
    color: $text-color;
  }

  /* Field Styling */
  .mat-form-field-flex {
    border: white 1px solid;
    background-color: rgba(0, 0, 0, 0);
  }
  .mat-form-field-flex:hover {
    border: $text-color 1px solid;
  }
}

/* When Not Valid Styling */
.mat-form-field.mat-form-field-invalid
  .mat-form-field-wrapper
  .mat-form-field-ripple {
  background-color: red;
}

/* Button Styling */
.mat-raised-button .mat-button-wrapper {
  font-family: $font-family;
}

/* Button Styling */
.mat-raised-button.mat-primary {
  background-color: $text-color;
}
