<div class="page-container">
  <div class="greetings-container">
    <div class="greetings">
      <div class="welcome-message">WE WANT TO HEAR <br />FROM YOU!</div>
      <div class="info-container">
        <div>500 Terry Francois Street, 6th Floor. San Francisco, CA 94158</div>
        <div>info@mysite.com</div>
        <div>123-456-789</div>
      </div>
    </div>
  </div>

  <div class="form-container">
    <form class="contact-form" [formGroup]="myForm">
      <div class="upper-part">
        <div class="text-field">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> Name </mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="myForm.controls.name.value === ''"
              >Can't be empty</mat-error
            >
          </mat-form-field>
        </div>
        <div class="text-field">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> E-mail </mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="myForm.controls.email.status === 'INVALID'"
              >Wrong Form</mat-error
            >
          </mat-form-field>
        </div>
        <div class="text-field">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> Address </mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
        </div>
        <div class="text-field">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> Phone </mat-label>
            <input
              matInput
              formControlName="phone"
              (keydown)="phoneHandler($event)"
              type="number"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="lower-part">
        <div>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> Subject </mat-label>
            <input matInput formControlName="subject" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label> Type Your Message here... </mat-label>
            <textarea style="resize: none;" matInput formControlName="message"></textarea>
          </mat-form-field>
        </div>

        
        <div>
          <button
            mat-raised-button
            class="form-btn"
            color="primary"
            type="submit"
            (click)="register()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
