@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$header-height: 105px;
$header-menu-color: #2a7c6f;
$text-color: #2a7c6f;
$white: #fffefc;
$text-white: #fffcf7;
$header-menu-height: 35px;
$banner-green: #1c5f4e;
$font-family: "Lato", sans-serif;
$lime-color: #40BCA8;
